@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	ul {
		list-style: disc;
	}
	code {
		font-size: 0.875rem;
		background: #e7e5e4;
		margin-inline: 8px;
		padding-inline: 14px;
		padding-block: 4px;
	}
}
