@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	h1 {
		padding: 2rem 0 1rem;
	}
	h2 {
		padding: 1.5rem 0 0.75rem;
	}
	h1 {
		padding: 1rem 0 0.5rem;
	}
	ul {
		padding: 0 1rem;
		margin-block: 1rem;
		list-style: disc;
	}
	code {
		font-size: 0.875rem;
		color: #fafaf9;
		background: #404040;
		padding-block: 4px;
	}
}
